numpy==1.26.4
face-alignment==1.4.1
imageio==2.35.1
imageio-ffmpeg==0.5.1
librosa==0.10.2.post1
numba==0.60.0
resampy==0.4.3
pydub==0.25.1
scipy==1.11.4
kornia==0.7.3
tqdm
yacs==0.1.8
pyyaml
joblib==1.4.2
scikit-image==0.24.0
basicsr==1.4.2
facexlib==0.3.0
trimesh==3.9.20
gradio>=4.44,<5
gfpgan
safetensors
huggingface_hub>=0.24,<1